body {
    font-family: 'Source Sans Pro', sans-serif;
    color: #373c44;
    background: #fff;
    width: 90% !important;
    margin: 0 auto !important;
    margin-left: 5% !important;
}
.searchDiv {
    /* margin-top: 150px; */
    margin-bottom: 25px;
    background: #fff;
    padding-bottom: 10px;
    /* width: 90% !important;
    margin-left: 5% !important; */
}
.searchDiv, .searchRow{
    float:left;
    width:100%;
}

.searchCol{
    float: left;
    width: 45%;
    padding: 1% 2%;
}
/* .searchCol {
    float: left;
    width: 45%;
    padding-top: 10px;
    padding-left: 10px;
} */
.searchColPopup{
    float:left;
    width:45%;
}
.searchTagsPopup{
    float:left;
    margin-right:10px;
    color: #032559;
    font-size:10pt;
    min-width: 40%;
}
.mdContPopup{ 
    margin: 0;
    width: 50%;
    margin-top: 0px !important;
    padding: 2px 2px;
    display: inline-block;
    position: relative;
    padding: 2px;
    margin: 18px 0;
    vertical-align: middle;
}
.buttonDiv{
    width:100%;
    float:left;
    padding-bottom: 40px;
}
.buttons{
    border-radius:3px;
    height: 30px;
    color: #fff;
    font-size: 11pt;
    border: none;
    cursor: pointer;
    min-width: 10%;
    background: #ff793c;
    max-width:100%;
    margin-left: 2px;
}