:host {
    --slider-width: 300px;
    --slider-height: 10px;
    --slider-top-position: 2.5px;
    --range-width: 20px;
    --range-left-position: 20px;
    --thumb-height: 15px;
    --thumb-width: 15px;
    --thumb-left-position:30px;
    --thumb-active-color: #1b5297;
}

.slider {
    left: 0;
    z-index: 1;
    width: 100%;
    height: 32px;
    padding-top: 16px;
    margin-top: -16px;
    box-sizing: border-box;
  }

  .range {
    position: relative;
    width: var( --range-width );
    height: var( --slider-height );
    left: calc( var( --range-left-position ) + var( --thumb-width )/2 );
    background: rgb(0, 195, 255);
    cursor: pointer;
  }

  .thumb {
    position: relative;
    width: var( --thumb-width );
    height: var( --thumb-height );
    border-radius: 50%;
    background: var( --thumb-active-color );
    cursor: pointer;
    left: var( --thumb-left-position );
  }

  .start {
    top: calc( ( var( --slider-height ) + var( --slider-top-position ) + var( --thumb-height )*0) * -1);
  }
  .end {
    top: calc( ( var( --slider-height ) + var( --slider-top-position ) + var( --thumb-height )*1) * -1);
  }